*{
    padding: 0px;
    margin: 0px;
}

.sidenav{
    width: 0px;
    height: 100%;
    background-color: red;
    overflow: hidden;
    position: fixed;
    transition: 0.5s;
    padding-top: 50px;
    z-index: 1;
}
.closenav{
position: absolute;
padding: 20px;
right: 0px;
top: 0px;
}
.opennav{
position: absolute;
padding: 20px;
right: 0px;
top: 0px;
}
.sidenav a{
    padding: 10px 40px;
    text-decoration: none;
    background-color: skyblue;
    border-radius: 12px;
    width: 30%;
    margin-left: 30px;
    margin: 30px auto;
    display: flex;
}



